
<!-- media items for the username -->
<!-- <h1><%#= @user.username.capitalize %> feed</h1>
  <%# @recent_media_items.each do |media| %>
  <img src="<%#= media.images.thumbnail.url%>">
<%# end%> -->

<% @pictures.each do | picture | %>
  <img src="<%= picture.images.thumbnail.url%>">
<% end %>
