<!-- <div class="show-image">
  <h1><%# @gallery.each do |gal|%></h1>
  <%#= image_tag("#{gal.thumbnail_url}") %>
  <%# end %>
</div> -->


<%= react_component 'Gallery', {gallery: @gallery} %>

<!-- Here , react is being used to render the photos in a specific gallery --> 
