// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  display:inline;
  position:relative;
  left:43%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;

}
