// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  opacity: 0.8;
}


a, p, label, #welcome-message, #new-gallerie{
font-family: 'Open Sans', sans-serif;
display:inline;
}


a {
font-weight: 100;
}

a:link {
  text-decoration: none;

}

a:visited {
  text-decoration: none;
}

.header-log-in {
  font-family: 'Open Sans', sans-serif;
  display:inline;
  position:relative;
  left:48%;
  font-weight: 100;
  top:90px;


}

.header-sign-up {
  font-family: 'Open Sans', sans-serif;
  display:inline;
  position:relative;
  left:45%;
  font-weight: 100;
  top:90px;

}

#home, #log-in-button, #sign-up-button, #my-galleries, #new-gallerie {
  padding: 2px;
  margin:auto;
}
